.link {
  color: #56bbf9;
}
.main {
  max-width: 350px;
}
.container {
  font: 110%/1.5 system-ui, sans-serif;
  background: #131417;
  color: white;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
