.AvailableSlotBtn {
  height: 60px;
  width: 60px;
  margin: 8px;
  cursor: pointer;
  background: green;
  outline: none;
  border: none;
  border-radius: 10px;
}
.OccupiedSlotBtn {
  height: 60px;
  width: 60px;
  margin: 8px;
  cursor: pointer;
  background: red;
  outline: none;
  border: none;
  border-radius: 10px;
}
