.AvailableSlotBtn {
  height: 60px;
  width: 60px;
  margin: 8px;
  cursor: pointer;
  background: green;
  outline: none;
  border: none;
  color: black;
  border-radius: 10px;
}
.OccupiedSlotBtn {
  color: black;
  height: 60px;
  width: 60px;
  margin: 8px;
  cursor: pointer;
  background: red;
  outline: none;
  border: none;
  border-radius: 10px;
}

.AvailableSlotBtn:hover {
  background-color: rgb(0, 100, 0);
  transform : scale(1.1);
  border : 1px solid gray;
  color:white;
}
.OccupiedSlotBtn:hover{
  transform : scale(1.1);
  border : 1px solid gray;
  background-color: #cb0000;
  color:white;  
}
